<main class="flex flex-col h-screen">
  <%= if @current_user do %>
    <div class="flex-none">
      <RoomyWeb.Components.ContextMenu.render />
    </div>
  <% end %>
  <div class="grow overflow-hidden">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
